.edit-admin{
  color: white;
  background-color: rgba(black, 0.5);
  width: 70%;
  padding: 10px;
  border-radius: 7px;
  margin: 10px;
}
.nav{
  li{
    display: inline;
    float: right;
  }
}
.table-borders{
  border: 3px solid gray;
}
.thank-you{
  color: white;
  background-color: rgba(green, 0.3);
  width: 50%;
  padding: 10px;
  border-radius: 7px;
  margin: 10px;
  float: right;
  text-align: center; 
}